body {
    background-color:white;
}

#UstKısım{
    height:120px;
}
#logo {
    height: 100%;
    color: white;
    background-color: orange;
    font-size:xx-large;
    text-align:center;
    
}
.SepeteEkleBtn{
    background-color:orange;
    height:90%;
    vertical-align:central;
}
#aramaKısmı {
    padding-top:1%;
    height: 150px;
    padding-bottom:1%
}

    #aramaKısmı #textBoxArama {
      
        padding-left: 5%;      
        width: 90%;
        vertical-align: central;
        height: 50%;
        background-color: navajowhite;
    }


    #aramaKısmı #aramaBtn {
        padding-left:5%;
        width:40%;
        vertical-align:central;
        height: 40% ;
        background-color: darkorange
    }

    #aramaKısmı #SepetimBtn {
        padding-right: 5%;
        float:right;
        width: 40%;
        vertical-align: central;
        height: 40%;
        background-color: darkorange
    }

#EkmekArasiIcerikResimDiv {
    padding-bottom: 15px;
    padding-top: 5px;

}

#SepeteEkleBtnDiv{
    height:65px;
}

#SalataIcerikImgDiv {
    padding-bottom: 15px;
    padding-top: 5px;
}

#SepeteEkleBtnDiv2 {
    height: 65px;
}

#TrileceIcerikImg {
    padding-bottom: 15px;
    padding-top: 5px;
}

#SepeteEkleBtnDiv3 {
    height: 65px;
}

#AyranIcerikImgDiv {
    padding-bottom: 15px;
    padding-top: 5px;
}


#SepeteEkleBtnDiv4 {
    height: 65px;
}

#SIPARISTAMAMLADIV{
    padding-left: 18%;
    height:50px;
    padding-top:1%
}

#SIPARISTAMAMLADIV #SIPARISTAMAMLA {
   
    width: 80%;
    vertical-align: central;
    height: 100%;
    background-color: darkorange
}

#AltKisimDiv {
    padding-top: 7%;
}

#KartNo{
    padding-top:3%;
    padding-left:5%;
    padding-right:5%;
    font-size:smaller;
}

#KartPW {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    font-size:smaller;
}

#ToplamTutar {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

#SiparisNotlari {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

#TeslimatAdresi {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

#OdemeDropDownList {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

#AltKisimDiv{
    padding-top: 7%;
}

#SepetDevamBtn{
    background-color:darkorange;
}