body {
    background-color: #d5d5d5;
    font-family: 'Trebuchet MS',Arial;
}


* {
    margin: 0;
    border: 0;
    padding: 0;
}


.wrapper {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}


header {
    width: auto;
    height: 60px;
    
    background-color:  white;
    text-align: center;
    line-height: 60px;
}


    header  #logo {
        float: left;
        width: 25%;
        height: 60px;
        color:white;
        text-align: center;
        line-height: 60px;
        background-color: darkorange;
        
    }
    header #MenuIconu {
        width: 45%;
        height: 60px;
        float: right;
    }
  


.arama {
    width: 100%;
    height: 30px;
    background-color: blue;
}

    .arama #textBoxArama {
        width: 50%;
        height: 30px;
        float: left;
        padding-left:5%;

    }
    .arama #aramaBtn {
        width: 25%;
        height: 30px;
        float: left;
        border-left:1px solid darkorange;
    }
    .arama #SepetimBtn{
        width:20%;
        height:30px;
        background-color:darkorange;
        color:white;
    }
  
